html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

#rotateMsg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;

  display: none; /* oculto por defecto */

  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 22px;
  line-height: 1.4;

  padding: 30px;
  box-sizing: border-box;
  z-index: 9999;
}